@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#bg {
    min-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    width: 35px;
}

.nav-bar {
    height: 60px;
    padding: 0 1.2rem;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.79);
    border-bottom: 0.2rem solid aliceblue;
}

.input-wrapper {
    margin-top: 4.5rem;
}

#location-input {
    width: 25rem;
}

.content-wrapper {
    position: relative;
}

.options-wrapper {
    width: 25rem;
    background-color: aliceblue;
    position: absolute;
    top: 2rem;
}

.option {
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.7;
}

.option:hover {
    opacity: 1;
}

#weather-results-container {
    margin-top: 9rem;
}

.todays-weather {
    height: 60rem;
    width: 40rem;

}

.todays-weather span {
    font-size: 1.8rem;
    font-weight: 600;
}

.todays-weather .weather-info-wrapper {
    margin-bottom: 30px;
    gap: 2rem;
}


.todays-weather sup {
    font-size: 1.6rem;
}

.weather-condition-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.daily-condition-img {
    top: -7.5rem;
}

.weather-content-wrapper {
    padding: 0 3rem;
    border-radius: 8px;
    box-shadow: 7px 10px 12px -1px rgba(153,153,153,1);
    background-color: aliceblue;
}

.todays-condition-img {
    top: -13rem;
}

.todays-temperature {
    font-size: 4.2rem;
    margin-top: 4rem;
}

.todays-weekday {
    font-size: 2.4rem;
}

.todays-condition {
    font-size: 1.6rem;
}

.daily-weather {
    height: 40rem;
    width: 30rem;
    padding-bottom: 3rem;
}

.daily-weather span {
    font-size: 1.3rem;
    font-weight: 600;
}


.location-point-icon{
    background-image: url('../../assets/point-icon-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: -18rem;
}

.current-weather-bg-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

.daily-weather h1 {
    font-size: 2.8rem;
    margin-top: 3rem;
}

.daily-weather sup {
    font-size: 1rem;
}

.info-img-bg {
    height: 2.5rem;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.feelslike-img {
    background-image: url('../../assets/feelslike.png');
}

.min-max-img {
    background-image: url('../../assets/min-max.png');
}

.humidity-img {
    background-image: url('../../assets/humidity.png');
}

.precipitation-img {
    background-image: url('../../assets/rain.png');
}

.windspeed-img {
    background-image: url('../../assets/wind.png');
}

.weather-info-wrapper {
    width: 100%;
}

.relative .daily-font-thin{
    font-weight: 400;
}