.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.justify-center {
    justify-content: center;
}

.space-btw {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.gap-3 {
    gap: 0.3rem;
}

.gap-5 {
    gap: 0.5rem;
}

.gap-8 {
    gap: 0.8rem;
}

.gap-15 {
    gap: 1.5rem;
}

.gap-24 {
    gap: 2.4rem;
}

.width-90{
    width: 9rem;
}

.size-10 {
    height: 10rem;
    width: 10rem;
}

.size-15 {
    height: 15rem;
    width: 15rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}